<div id="submissions" class="full_page even_page">
  <div class="content">
    <div class="row">
      <div class="col-12 col-md-8 ml-auto mr-auto">
        <h1>Submissions</h1>
        <section class="scope">
          <div class="row">
            <div class="col-12">
              <h3>{{'submissions papers title' | externalString}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div innerHtml="{{'submissions papers content' | externalString}}"></div>
            </div>
          </div>
        </section>
        <section class="format">
          <div class="row">
            <div class="col-12">
              <h3>{{'submissions submission title' | externalString}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div innerHtml="{{'submissions submission content' | externalString}}"></div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>