
  <div class="content">
    <div class="row">
      <div class="col-12">
        <h1>Committees</h1>
        <div class="row" *ngFor="let committee of committees; let i = index">
          <div class="col-10 ml-auto mr-auto">
            <h3>{{committee.name}}</h3>
            <section [class.last]="i + 1 == committees.length">
              <div *ngFor="let member of committee.members" class="committee-member"  [class.deceased]="member.deceased">
                <p class="member-name">{{member.name}}</p>
                <p class="member-location">{{member.location}}</p>
                <p class="member-position">{{member.position}}</p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>