.full_page {
    background: url("/assets/imgs/overlay.png"), url("/assets/imgs/overlay.png"), url("/assets/imgs/overlay.png"), url("/assets/imgs/conference_room.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color:white;
}
.member {
    padding:0.75em;
}