.date {
    padding:10px;
}

.date p {
    font-size:1.2em;
}

.full_page {
    background: url("/assets/imgs/overlay.png"), url('/assets/imgs/overlay.png'), url('/assets/imgs/overlay.png'), url("/assets/imgs/words_2019_yellow.jpg");
    background-size: cover;
    background-attachment: fixed;
    color:white;
}