<div class="wrapper">
    <app-nav-bar></app-nav-bar>
    <div class="main-panel ps-scrollbar-y">
        <div id="home" class="full_page" app-landing-section></div>
        <div id="submissions" class="full_page" app-submissions></div>
        <div id="dates" class="full_page" app-important-dates></div>
        <div id="speakers" class="full_page" app-invited-speakers></div>
        <div id="conference_information" class="full_page" app-conference-info></div>
        <div id="committees" class="full_page" app-committees></div>
        <div id="participants" class="full_page" app-participants></div>
        <div id="sponsors" class="full_page" app-sponsors></div>
        <div style="padding-bottom: 69px"></div>
        <div class="floating-footer row">
            <div class="footer-content">
                <a class="image" href="https://lboro.ac.uk" target="_blank">
                    <img src="/assets/imgs/LU_A4_RGB.png" class="header" />
                </a>
                <div class="dates" style="display: inline-block;">
                    <div class="date" *ngFor="let date of dates">
                        <p>{{date.name}}</p>
                        <p *ngIf="date.text">{{date.text}}</p>
                        <p *ngIf="date.date">{{date.date | date}}</p>
                        <p *ngIf="date.start">Start: {{date.start | date}}</p>
                        <p *ngIf="date.end">End: {{date.end | date}}</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>