<div class="wrapper">
    <app-nav-bar></app-nav-bar>
    <div class="main-panel ps-scrollbar-y">
        <app-landing-section></app-landing-section>
        <app-submissions></app-submissions>
        <app-important-dates></app-important-dates>
        <app-invited-speakers></app-invited-speakers>
        <app-committees></app-committees>
        <div class="floating-footer">
            <div class="date" *ngFor="let date of dates">
                <p>{{date.name}}</p>
                <p *ngIf="date.date">{{date.date | date}}</p>
                <p *ngIf="date.start">Start: {{date.start | date}}</p>
                <p *ngIf="date.end">End: {{date.end | date}}</p>
            </div>
        </div>
    </div>
</div>