.our_nav {
    position: fixed !important;
    left:0;
    top:0;
    width:100%;
    z-index:10;
}

.bg {
    background: rgb(54,17,99);
}

.nav-link {
    color: rgb(235,235,235) !important;
}

.navbar-light .navbar-brand {
    color: rgb(235,235,235) !important;
    font-weight: 400 !important;
}

img.header {
    max-height:50px;
}

.icon {
    max-width: 1.5em;
}
