<p>All presentations will take place in Schofield Building,
Room SCH.0.01 (Ground Floor)</p>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th width="20%">Monday</th>
      <th width="20%">Tuesday</th>
      <th width="20%">Wednesday</th>
      <th width="20%">Thursday</th>
      <th width="20%">Friday</th>
    </tr>
  </thead>
  <tbody>
    <!-- 9:15 -->
    <tr>
      <!-- Monday -->
      <td rowspan="5"></td>
      <!-- Tuesday -->
      <td app-event-details title="Invited Talk 1" time="9:15 - 10:15 am">
        S-adicity and property preserving morphisms
        (Gwenaël Richomme)
      </td>
      <!-- Wednesday -->
      <td app-event-details title="Session 5" time="9:15 - 10:15 am">
        <div class="row">
          <p>Mortality and synchronization of unambigu-
            ous finite automata (Andrew Ryzhikov)</p>
        </div>
        <div class="row">
          <p>On codeword lengths guaranteeing synchro-
            nization (Vladimir Gusev, Elena Pribavkina)</p>
        </div>
      </td>
      <!-- Thursday -->
      <td app-event-details title="Invited Talk 4" time="9:15 - 10:15 am">
        Independent Systems of Word Equations:
        From Ehrenfeucht to Eighteen (Aleksi Saarela)
      </td>
      <!-- Friday -->
      <td app-event-details title="Invited Talk 1" time="9:15 - 10:15 am">
        S-adicity and property preserving morphisms
        (Gwenaël Richomme)
      </td>
    </tr>
    <tr>
      <td colspan="4" app-event-details title="Coffe Break" time="10:15 - 10:45 am"></td>
    </tr>
    <tr>
      <!-- Tuesday -->
      <td app-event-details title="Session 3" time="10:45 - 12:15 am">
        <div class="row">
          <p>Critical exponent of infinite balanced words
            via the Pell number system (Aseem Baranwal, Jeffrey Shallit)</p>
        </div>
        <div class="row">
          <p>Every nonnegative real number is a critical abelian exponent (Jarkko Peltomäki, Markus
            Whiteland)</p>
        </div>
        <div class="row">
          <p>Generalized Lyndon factorizations of infinite words (Amanda Burcroff, Eric Winsor)</p>
        </div>
      </td>
      <!-- Wednesday -->
      <td app-event-details title="In memoriam: Aldo de Luca" time="10:45 - 12:15 am">
        <div class="row">
          <strong>10:45 am Invited Talk 3</strong>
          <p>On Sets of Words of Rank Two (Antonio Restivo)</p>
        </div>
        <div class="row">
          <strong>11:45 am (Alessandro de Luca)</strong>
        </div>
      </td>
      <!-- Thursday -->
      <td app-event-details title="Session 6" time="10:45 - 12:15 am">
        <div class="row">
          <p>Enumeration and extensions of wordrepresentable graphs (Marisa Gaetz, Caleb Ji)</p>
        </div>
        <div class="row">
          <p>On discrete idempotent paths (Luigi Santocanale)</p>
        </div>
        <div class="row">
          <p>On substitutions closed under derivation: examples (Václav Košík, Štˇepán Starosta)</p>
        </div>
      </td>
      <!-- Friday -->
      <td app-event-details title="Invited Talk 1" time="10:45 - 12:15 am">
        <div class="row">
          <p>Templates for the k-binomial complexity of
            the Tribonacci word (Marie Lejeune, Michel Rigo,
            Matthieu Rosenfeld)</p>
        </div>
        <div class="row">
          <p>Characteristic parameters and special
            trapezoidal words (Alessandro De Luca, Alma
            D’Aniello)</p>
        </div>
        <div class="row">
          <p>New results on pseudosquare avoidance
            (Tim Ng, Pascal Ochem, Jeffrey Shallit, Narad Rampersad)</p>
        </div>
      </td>
    </tr>
    <!-- 12:15 -->
    <tr>
      <td rowspan="2" app-event-details title="Lunch Break" time="12:15 - 14:00"></td>
      <td rowspan="1" app-event-details title="Lunch Break" time="12:15 - 13:30"></td>
      <td rowspan="2" app-event-details title="Lunch Break" time="12:15 - 14:00"></td>
      <td app-event-details title="Closing" time="12:15"></td>
    </tr>
    <!-- 13:30 -->
    <tr>
      <td rowspan="8" app-event-details title="Social Event (Stoneywell, National
Trust)" time="13:30 - 17:30"></td>
    </tr>
    <!-- 14:00 -->
    <tr>
      <td app-event-details title="Registration (Schofield Building)" time="14:00 - 14:45"></td>
      <td rowspan="2" app-event-details title="Invited Talk 2" time="14:00 - 15:00">
        <div class="row">
          <p>Mortality and synchronization of unambigu-
            ous finite automata (Andrew Ryzhikov)</p>
        </div>
        <div class="row">
          <p>On codeword lengths guaranteeing synchro-
            nization (Vladimir Gusev, Elena Pribavkina)</p>
        </div>
      </td>
      <td rowspan="2" app-event-details title="Invited Talk 5" time="14:00 - 15:00">
        <div class="row">
          <p>Structure of graph classes and algorithms
            (Kristina Vušcovi´c)</p>
        </div>
      </td>
    </tr>
    <!-- 14:45 -->
    <tr>
      <td app-event-details title="Opening" time="14:45 - 15:00"></td>
    </tr>
    <!-- 15:00 -->
    <tr>
      <!-- Monday -->
      <td rowspan="2" app-event-details title="Session 1" time="15:00 - 16:00">
        <div class="row">
          <p>Binary intersection revisited (Štˇepán Holub)</p>
        </div>
        <div class="row">
          <p>Circularly squarefree words and unbordered
            conjugates: a new approach (Trevor Clokie, Daniel
            Gabric, Jeffrey Shallit)
          </p>
        </div>
      </td>
      <!-- Tuesday -->
      <td app-event-details title="Coffee Break" time="15:00 - 15:30"></td>
      <!-- Thursday -->
      <td app-event-details title="Coffee Break" time="15:00 - 15:30"></td>
    </tr>
    <!-- 15:30 -->
    <tr>
      <!-- Tuesday -->
      <td rowspan="5" app-event-details title="Session 4" time="15:30 - 17:00">
        <div class="row">
          <p>The undirected repetition threshold (James D.
            Currie, Lucas Mol)</p>
        </div>
        <div class="row">
          <p>Repetitions in infinite palindrome-rich words
            (Aseem Baranwal, Jeffrey Shallit)
          </p>
        </div>
        <div class="row">
          <p>Rich Words Containing Two Given Factors
            (Josef Rukavicka)
          </p>
        </div>
      </td>
      <!-- Thursday -->
      <td rowspan="3" app-event-details title="Session 7" time="15:30 - 17:00">
        <div class="row">
          <p>Return words and bifix codes in eventually
            dendric sets (Francesco Dolce, Dominique Perrin)</p>
        </div>
        <div class="row">
          <p>On the commutative equivalence of
            bounded semi-linear codes (Arturo Carpi, Flavio
            D’Alessandro)</p>
        </div>
        <div class="row">
          <p>Derivated sequences of Arnoux–Rauzy sequences (Kateˇrina Medková)</p>
        </div>
      </td>
    </tr>
    <!-- 16:00 -->
    <tr>
      <!-- Monday -->
      <td app-event-details title="Coffee Break" time="16:00 - 16:30"></td>
    </tr>
    <!-- 16:30 -->
    <tr>
      <!-- Monday -->
      <td app-event-details title="Session 2" time="16:30 - 17:30">
        <div class="row">
          <p>Parikh determinants (Adrian Atanasiu, Ghajendran Poovanandran, Wen Chean Teh)</p>
        </div>
        <div class="row">
          <p>Localisation-resistant random words with
          small alphabet (Cyril Gavoille, Ghazal Kachigar,
          Gilles Zémor)</p>
        </div>
      </td>
    </tr>
    <!-- 17:45 -->
    <tr>
      <!-- Monday -->
      <td rowspan="2" app-event-details title="Drinks Reception (Hazlerigg Building)" time="17:45 - 18:45"></td>
    </tr>
    <tr>
      <!-- Wednesday -->
      <td app-event-details title="Conference Dinner (Hazlerigg Building)" time="18:45"></td>
    </tr>
  </tbody>
</table>