.profile_img {
    border-radius: 50%;
    max-height:75px;
    max-width: 100%;
    margin: 1em;
}

.title {
    margin-top: 1em;
}

.speaker {
    margin-top: 2em;
}

.pointer {
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-top:10px;
}

.pointer:hover {
    cursor: pointer !important;
}

.pointer[aria-expanded=true] .fa-caret-down {
    transform: rotate(180deg);
    color: rgba(21,21,21,0.4);
}