/* You can add global styles to this file, and also import other style files */
 @import "~bootstrap/dist/css/bootstrap.min.css";

 @font-face {
    font-family: roboto;
    src: url("/assets/fonts/Roboto-Thin.ttf");
    font-weight: 100;
}

 @font-face {
    font-family: roboto;
    src: url("/assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
}

 @font-face {
    font-family: roboto;
    src: url("/assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

 @font-face {
    font-family: roboto;
    src: url("/assets/fonts/Roboto-Bold.ttf");
    font-weight: bold;
}


.full_page {
    min-height: 100vh;
    background: white;
    padding-top:56px;
    position: relative;
    z-index:0;
    text-align: center;
}

 /* select alternating items starting with the second item */
.even_page {
  background: #f1f1f1;
}

html, body {
    font-family: roboto !important;
    font-weight: 300;
    background: #1a1a1a;
}

section {
    margin: 2em 0;
}

.row {
    margin:0;
}

a {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.v-rule {
    height: 50px;
    width:1px;
    background:white;
}