<div class="content">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <div class="row">
        <div class="col-12">
          <h1>Participants</h1>
        </div>
      </div>
      <div class="row">
          <div class="col-12">
              <h3>Timetable</h3>
              <app-conference-programme></app-conference-programme>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3>Social Events</h3>
          <app-social-events></app-social-events>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3>Local Information</h3>
          <app-local-information></app-local-information>
        </div>
      </div>
    </div>
  </div>
</div>